<div class="page-cont">
  <h6 class="display-6">Reservations</h6>
  <div class="tabs">
    <div class="tab-btn" (click)="setTab(0)">
      <p>Flights</p>
    </div>
    <div class="tab-btn" (click)="setTab(1)">
      <p>Hotels</p>
    </div>
    <div class="tab-btn" (click)="setTab(2)">
      <p>Activities</p>
    </div>
  </div>
  <span *ngIf="currentTab == 0">
    <app-flight-reservation-details-min
      *ngFor="let f of flights"
      [data]="f"
    ></app-flight-reservation-details-min
  ></span>
  <span *ngIf="currentTab == 1"
    ><app-hotel-reservation-details-min
      *ngFor="let f of hotels"
      [data]="f"
    ></app-hotel-reservation-details-min>
  </span>
  <span *ngIf="currentTab == 2"
    ><app-activity-reservation-details-min
      *ngFor="let f of activities"
      [data]="f"
    ></app-activity-reservation-details-min>
  </span>
  <div class="alert alert-danger" *ngIf="errorDisplay.trim() != ''">
    {{ errorDisplay }}
  </div>
</div>
