<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">gotrips</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-center nb-selection">
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLink]="['/flights']"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <ng-icon name="ionAirplaneOutline"></ng-icon>
          Flights</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/hotels']"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <ng-icon name="ionBusinessOutline"></ng-icon>
          Hotels</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/activities']"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <ng-icon name="ionBaseballOutline"></ng-icon> Activities</a
        >
      </li>
    </ul>
  </div>
  <p class="nb-account-display" *ngIf="authService.authenticated">
    {{ authService.session?.username }}
  </p>

  <span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMobileMenu"
      aria-controls="navbarMobileMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="dropdown-center nb-account-menu-group d-none d-sm-none d-md-none d-lg-block"
    >
      <button
        class="nb-account-menu"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <ng-icon name="ionPersonCircleOutline"></ng-icon>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <ng-container *ngIf="!authService.authenticated">
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/user', 'register']"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Register</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/user', 'signin']"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Sign In</a
            >
          </li>
        </ng-container>
        <ng-container *ngIf="authService.authenticated">
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/user', 'details']"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Profile</a
            >
          </li>
          <li>
            <button class="dropdown-item" (click)="onLogout()">Sign Out</button>
          </li>
        </ng-container>
      </ul>
    </div>
  </span>
</nav>
<div
  id="navbarMobileMenu"
  class="collapse d-visible d-sm-visible d-md-visible d-lg-none"
>
  <a
    [routerLink]="['/flights']"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Flights</a
  >
  <a
    [routerLink]="['/hotels']"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Hotels</a
  >
  <a
    [routerLink]="['/activities']"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Activities</a
  >
  <ng-container *ngIf="!authService.authenticated">
    <a
      [routerLink]="['/user', 'register']"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Register
    </a>
    <a
      [routerLink]="['/user', 'signin']"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Sign In
    </a>
  </ng-container>
  <ng-container *ngIf="authService.authenticated">
    <a
      [routerLink]="['/user', 'details']"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Profile
    </a>
    <button (click)="onLogout()">Sign Out</button>
  </ng-container>
</div>
