<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">gotrips</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-center nb-selection">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <ng-icon name="ionAirplaneOutline"></ng-icon>
          Flights</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <ng-icon name="ionBusinessOutline"></ng-icon>
          Hotels</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <ng-icon name="ionBaseballOutline"></ng-icon> Activities</a
        >
      </li>
    </ul>
  </div>
  <button class="nb-account-menu">
    <ng-icon name="ionPersonCircleOutline"></ng-icon>
  </button>
</nav>
