<div class="card-details-min-cont">
  <div class="card-details-info">
    <p>{{ card.name }}</p>
    <p>{{ card.partialCardNumber }}</p>
    <p>
      {{ card.address.zipCode }} {{ card.address.city }},
      {{ card.address.street }}
    </p>
  </div>
  <span class="card-details-menu">
    <button class="btn btn-menu" (click)="onClickDelete($event)">
      {{ confirmDeletion ? "Confirm deletion ?" : "Delete" }}
    </button>
    <a [routerLink]="['/user', 'card', 'form']" [queryParams]="{ id: card.id }"
      ><button class="btn btn-menu">Edit</button></a
    >
  </span>
  <div class="alert alert-danger" *ngIf="this.errorDisplay.trim() != ''">
    {{ this.errorDisplay }}
  </div>
</div>
