.card-details-min-cont {
  background-color: rgb(240, 240, 240);
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-details-min-cont:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.card-details-min-cont > .card-details-info {
}

.card-details-min-cont > .card-details-info > p {
  margin: 0px;
}
