<div class="page-cont" style="max-width: 1100px">
  <h6 class="display-6">Manage flights</h6>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Identifier</th>
        <th scope="col">Departure airport</th>
        <th scope="col">Landing airport</th>
        <th scope="col">Departure date</th>
        <th scope="col">Landing date</th>
        <th scope="col">Company</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of list">
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.departureAirport }}</td>
        <td>{{ data.arrivalAirport }}</td>
        <td>{{ data.departureDate | date }}</td>
        <td>{{ data.landingDate | date }}</td>
        <td>{{ data.company.name }}</td>
        <td>{{ data.price }}</td>
        <td>
          <a [routerLink]="['/flights', 'details', data.id]">
            <button class="btn btn-menu" [disabled]="isRowLoading(data.id)">
              Details
            </button>
          </a>
          <a [routerLink]="['/flights', 'form']" [queryParams]="{ id: data.id }"
            ><button class="btn btn-menu" [disabled]="isRowLoading(data.id)">
              Edit
            </button></a
          >
          <button
            class="btn btn-danger"
            [disabled]="isRowLoading(data.id)"
            (click)="deleteFlight(data.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a [routerLink]="['/flights', 'form']">
      <button class="btn btn-menu">Register a flight</button>
    </a>
  </div>
  <div class="alert alert-danger" *ngIf="errorDisplay.trim() != ''">
    {{ errorDisplay }}
  </div>
</div>
